<html xmlns:th="http://www.thymeleaf.org">
	
	<body>
		<h1>Visi Kursi pec profesora ID!</h1>
		<h1 th:text="${header}"></h1>
		<table style="border: 1px solid black;">
		<tr th:each="tempC : ${package}" style="border: 1px solid black;">
			<td th:text="${tempC.cid}" style="border: 1px solid black;"></td>
	  <!--	<td th:text="${tempC.professor.name}" style="border: 1px solid black;"></td>
			<td th:text="${tempC.professor.surname}" style="border: 1px solid black;"></td>-->
			<td th:text="${tempC.title}" style="border: 1px solid black;"></td>
			<td th:text="${tempC.creditPoints}" style="border: 1px solid black;"></td>
		</tr>
		</table>
	</body>
</html>